odoo-addon-l10n_pt_sale_spms@git+https://github.com/oxigensalud/odoo-community-addons.git@refs/pull/21/head#subdirectory=l10n_pt_sale_spms
odoo-addon-l10n_pt_invoice_spms@git+https://github.com/oxigensalud/odoo-nonstandalone-addons.git@refs/pull/7/head#subdirectory=l10n_pt_invoice_spms
odoo-addon-l10n_pt_spms@git+https://github.com/oxigensalud/odoo-community-addons.git@refs/pull/20/head#subdirectory=l10n_pt_spms
